<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Google Spanner Tests">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="PHPUNIT_TESTS" value="1"/>
    </php>
</phpunit>
